/* universal selector */
*{
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}

/* relative unit */
h1{
  background-color:hsl(123, 87%, 47%);
  font-size: 6vh;
  font-style: italic;
}

h2{
  color: rgb(234, 123, 68);
  font-size: 24px;
  margin: auto;
}

p, h1{
  text-decoration: underline;
}

p{
  font-size: 12pt;
  background-color: pink;
}

/* ID Selector */
#date{
  font-weight: bold;
  background-color: #000000;
  color: white;
  text-align: center;
  text-decoration: dotted;
}

#attend_list{
  font-weight: bold;
  background-color: #50f609;
  color: red;
  text-align: start;
}

#fig_out{
  color: blue;
  font-size: 12pt;
}

/* relative unit */
#list1{
  background: lightgreen;
  margin: 0.5em;
}

#list2{
  background: lightyellow;
  position: relative;
}

#list3{
  background: lightcoral;
  position: sticky;
}

/* Class Selector, relative unit*/
.vote{
  font-size: 1.5vmax;
  display: inline-block;
  color:chocolate
}

.whiteboard{
  display: inline;
  color: rebeccapurple
}

.audio{
  font-size: 0.2in;
  font-style: times;
  background-color: #FFF;
  color: black;
}

/* Box Model */
.name_box{
  margin-top: 0.6cm;
  margin-bottom: 0.6cm;
  margin-left: 0.6cm;
  margin-right: 0.6cm;
  padding-top: 0.6cm;
  padding-bottom: 0.6cm;
  padding-left: 0.6cm;
  padding-right: 0.6cm;
  border-style: double;
  border-width: 0.2cm;
  border-radius: 0.2cm;
  border-color: yellow;
  display: grid;
  grid-auto-flow: column;
  align-items: start;
  grid-gap: 3cm;
}

.meeting_box{
  margin: 1cm 1cm 1cm 1cm;
  padding: 1cm 1cm 1cm 1cm;
  border-style: dotted;
  border-width: 0.2cm;
  border-radius: 0.2cm;
  border-color: green;
}

.concern_box{
  margin: auto;
  border-style: dashed;
  border-width: 0.12cm;
  border-radius: 0.12cm;
  border-color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

img {
  height: auto;
  width: auto;
  max-height: fit-content;
  max-width: fit-content;
}

/* Pseudo-class: hover button */
button:hover{
  color: yellow;
}

/* hover link */
a:hover{
  color: red;
}

p:active{
  color: blue;
}

a[target] {
  background-color: yellow;
}

/* Responsive */
@media (max-width: 10cm) {
  *{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

/* Descendant Combinator */
ol li {
  margin: 0.5rem 0.5rem;
  padding: 0.25rem 0.25rem;
}

/* Child Combinator */
ol > li {
  display: block;
  border-style: double;
  border-color: antiquewhite;
  border-width: 2px;
  border-radius: 3px;
}

/* General sibling combinator */
ol ~ li {
  border-radius: 3px;
}

/* Adjacent sibling combinator */
ol + li {
  margin: 0.5cm 0.5cm 0.5cm 0.5cm;
  border: 0.1cm;
}

/* Combining Two Selectors */
footer.footer {
  display: inline-block;
  margin: 30pt 30pt;
  background-color: rgb(221, 0, 255);
}
