/* apply background color to the file */
body {
    background-color: lightblue; 
}

* {
    padding: 0px;
    margin: 0px;
}

/* ID selector */
#attend {
    font-weight: bold;
    font-style: Anuphan;
    padding-bottom: 30px;
    color: #ff0000;
    text-align: start;
    text-decoration: dotted;
}

h2 {
    color: rgb(234, 123, 68);
    margin: auto;
}

h2, h3 {
    /* long margin  */
    margin-top:  1vw;
    margin-bottom:  1vw;
    margin-left:  1vw;
    margin-right:  1vw;

    /* long padding  */
    padding-top:  0.3vw;
    padding-bottom:  0.3vw;
    padding-left:  0.3vw;
    padding-right:  0.3vw;

    border-radius: 1vh;
}

li[class="name"] {
    margin: 5px 5px;
    border-radius: 3px;
}

/* Background color of the text box*/
input:focus {
    background-color: yellow;
}

ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form {
    display: flex;
}

ol li {
    margin: 0.5rem 0.5rem;
    padding: 0.25rem 0.25rem;
}

ol  > li {
    display: block;
    border-style: groove;
    border-color: antiquewhite;
    border-width: 2px;
    border-radius: 3px;
}

ol ~ li {
    border-radius: 3px;
}

label + input  {
    margin: 20px 20px 20px 20px;
    border: 3px;
}

input + label  {
    margin: 0.2in 0.2in;
    border: 3px;
}

footer.footer {
    display: inline-block;
    margin: 30pt 30pt;
    background-color: aliceblue;
}

img {
    height: auto;
    width: auto;
    position: relative;
}

/* Responsive, Fonts  */
@media (max-width: 600px) {
    * {
        font-family: 'Roboto', sans-serif;
    }
}
